@model HouseProject.Models.Home
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="clean-block clean-catalog dark" style="background-image: url('../../images/rome-background.jpg'); background-position: 0px -300px;">
    <div class="block-heading justify-content-center">
        <h2 style="color:white;">@Model.Title</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">View Photos</button>
    </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Photos</h4>
            </div>
            <div class="modal-body">
                <div class="row clean-gallery">
                    <div class="col-md-6 col-lg-4 item"><a href="~/images/placeholder.png" class="lightbox"><img class="img-thumbnail img-fluid image" src="~/images/placeholder2.png"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="~/images/placeholder.png" class="lightbox"><img class="img-thumbnail img-fluid image" src="~/images/placeholder2.png"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="~/images/placeholder.png" class="lightbox"><img class="img-thumbnail img-fluid image" src="~/images/placeholder2.png"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="~/images/placeholder.png" class="lightbox"><img class="img-thumbnail img-fluid image" src="~/images/placeholder2.png"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="~/images/placeholder.png" class="lightbox"><img class="img-thumbnail img-fluid image" src="~/images/placeholder2.png"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a href="~/images/placeholder.png" class="lightbox"><img class="img-thumbnail img-fluid image" src="~/images/placeholder2.png"></a></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-8">
        <h3>Description</h3>
        <hr />
        <p>
            @Model.Description<br />
            <hr />
            Max Occupants: @Model.MaxOccupants <br />
            <i class="fas fa-bed"></i>: @Model.NumOfRooms
        </p>
        <hr />
        <h3>Address</h3>
        <p>
            @Model.Address<br />
            @Model.City, @Model.Province<br />
            @Model.PostalCode
        </p>

        <h3>Amenities</h3>
        <ul>
            @foreach (var amenitie in Model.Amenities)
            {
                switch (amenitie.Name)
                {
                    case "Television":
                        <li><i class="fas fa-tv"></i> Television</li>
                        break;
                    case "Satellite":
                        <li><i class="fas fa-tv"></i> Satellite</li>
                        break;
                    case "Wi-Fi":
                        <li><i class="fas fa-wifi"></i> Wi-Fi</li>
                        break;
                    case "Pool":
                        <li><i class="fas fa-swimming-pool"></i> Pool</li>
                        break;
                    case "Sauna":
                        <li><i class="fas fa-bath"></i> Sauna</li>
                        break;
                    case "Washer":
                        <li><i class="fas fa-tshirt"></i> Washer</li>
                        break;
                    case "Dryer":
                        <li><i class="fas fa-tshirt"></i> Dryer</li>
                        break;
                    case "Fireplace":
                        <li><i class="fas fa-fire"></i> Fireplace</li>
                        break;
                    case "Firewood":
                        <li><i class="fas fa-fire"></i> Firewood</li>
                        break;
                    case "Spa":
                        <li><i class="fas fa-swimming-pool"></i> Spa</li>
                        break;

                    default:

                        break;
                }

            }
        </ul>
        <h3>Cancellation</h3>
        <p>
            Cancel within 48 hours of booking and 14 days before check-in to get a full refund.
            Strict policy – Free cancellation within 48 hours
            <br />
            <br />

            <a class="dropdown-toggle" data-toggle="collapse" data-target="#moreInfo">More information</a>

            <hr />
            <div id="moreInfo" class="collapse">
                <ul>
                    <li>
                        Cancel up to 7 days before check-in and get a 50% refund, minus Airbnb service fee.
                    </li>
                    <li>
                        Cancel within 7 days of check-in and the cost of the full reservation is non-refundable.
                    </li>
                    <li>
                        Vacation House service fees are refunded only if the reservation is cancelled within 48 hours of booking and the guest has not checked-in yet.
                    </li>
                </ul>
            </div>


        </p>
    </div>
    <div class="col-lg-3" id="bookHouse">
        <div class="container ">
            <span style="font-size:28px;">@Model.PricePerNight $</span><span> per night</span><br /><br />
            @Html.ActionLink("Book House", "NewBookingRecord", "House", new { id = Model.ID }, new { @class = "btn btn-primary " })
        </div>
    </div>
</div>

